header{
    background-color: rgba(0, 0, 0, 0.751);
}
img{
    background: no-repeat;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.282);
    border-radius: 50%;
}
a{
    position: relative;
    left: 85%;
    color: white;
    text-decoration: none;
    font-size: larger;
    padding: 0px 10px 10px 10px;
    margin: 2px;
}
a:hover{
    background-color: white;
    color: black;
    font-weight: bold;
}